*
!.zshrc
!.vimrc
!.i3/
!.i3/config
!.i3/i3blocks.conf
!.i3/ssh.sh
!.i3/scripts/
!.i3/scripts/bandwidth
!.i3/scripts/cpu_usage
!.i3/scripts/disk.sh
!.i3/scripts/exit_menu.sh
!.i3/scripts/iface
!.i3/scripts/load_average.sh
!.i3/scripts/memory
!.i3/scripts/volume
!.i3/scripts/wifi
!.i3/scripts/wallpaper
!.i3/scripts/sound_menu.sh
!.config/
!.config/temite/
!.config/termite/config
!.config/rofi/
!.config/rofi/config
!readme.md
!.gitignore
