window.ssd headerbar.titlebar {
    padding-top: 1px;
    padding-bottom: 1px;
    min-height: 0;
}

window.ssd headerbar.titlebar button.titlebutton {
    padding-top: 1px;
    padding-bottom: 1px;
    min-height: 0;
}

headerbar {
    min-height: 8px;
    padding-left: 2px; /* same as childrens vertical margins for nicer proportions */
    padding-right: 2px;
}

headerbar entry,
headerbar spinbutton,
headerbar button,
headerbar separator {
    margin-top: 2px; /* same as headerbar side padding for nicer proportions */
    margin-bottom: 2px;
}

/* shrink ssd titlebars */
.default-decoration {
    min-height: 0; /* let the entry and button drive the titlebar size */ 
    padding: 2px
}


.titlebar {
	min-height: 10px;
	font-size: 10px;
	padding: 2px;
}
.titlebar button {
	padding: 2px;
	min-height: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.titlebar button image {
	padding: 0px;
	margin: 0px;
}

.titlebar box {
	min-height: 0px;
	min-width: 0px;
	padding: 0;
}
